<header class="header" data-common="gw-header" >

    <div class="container">
        <a href="{{page.basePath}}index.html" class="logo"><img src="{{page.basePath}}assets/img/logo.png" alt="Gewinn Max"></a>

        <nav>
            <ul class="level0 controller" data-controller="modules/Navigation">
                <li><a href="{{page.basePath}}ueber-uns.html">Über uns</a></li>
                <li>Unternehmensberatung

                    <ul class="level1">
                        <li><a href="{{page.basePath}}unternehmensberatung/privat.html">Privat</a></li>
                        <li><a href="{{page.basePath}}unternehmensberatung/firmen.html">Firmen</a></li>
                    </ul>

                </li>
                <li><a href="{{page.basePath}}kontakt.html">Kontakt</a></li>
                <li><a href="{{page.basePath}}gutschein.html">Gutschein</a></li>
                <li><a href="{{page.basePath}}karriere.html">Karriere</a></li>
                <li><a href="{{page.basePath}}impressum.html">Impressum</a></li>
            </ul>
        </nav>

    </div>

</header>