<div class="input captcha">
    <label for="{{name}}" class="label">{{label}}</label>
    <div class="image controller" data-controller="assets/Captcha">
        <img src="{{src}}" alt="{{label}}" class="newCaptcha" />
        {{#if link}}<a href="{{link.href}}" class="newCaptcha">{{link.text}}</a>{{/if}}
    </div>
    <div class="field">
        <input type="{{type}}" class="form-control" name="{{name}}" id="{{id}}" placeholder="{{placeholder}}" {{#if required}}required{{/if}} {{#if maxlength}}maxlength={{maxlength}}{{/if}} value="{{value}}">
    </div>
    {{#each message}}
    <div class="message {{type}} {{#if show}}show{{/if}}" data-fragment="message">
        <div class="icon"></div>
        <div class="text">
            {{{text}}}
        </div>
    </div>
    {{/each}}
</div>