<div class="checkbox">
    <label>
        {{#if label}}<div class="label">{{{label}}}</div>{{/if}}
        <div class="field controller" data-controller="fragments/form/Checkbox" data-type="checkbox">
            <input type="checkbox" class="form-control" name="{{name}}" id="{{id}}" value="{{value}}" {{#if required}}required{{/if}} {{#if checked}}checked="checked"{{/if}}>
            <span class="input glyphicon"></span>
            <span class="text">{{{text}}}</span>
        </div>
    </label>
    {{#each message}}
        <div class="message {{type}} {{#if show}}show{{/if}}" data-fragment="message">
            <div class="icon"></div>
            <div class="text">
                {{{text}}}
            </div>
        </div>
    {{/each}}
</div>