<div class="input">
    <label for="{{name}}" class="label">{{label}}</label>
    <div class="field">
        <input type="{{type}}" data-type="{{type}}" class="form-control" name="{{name}}" id="{{id}}" placeholder="{{placeholder}}" {{#if required}}required{{/if}} {{#if equal}}data-equal="{{equal}}"{{/if}} {{#if validOnKeypress}}data-valid-on-keypress="{{validOnKeypress}}"{{/if}} {{#if maxlength}}maxlength={{maxlength}}{{/if}} {{#if checkTarget}}data-check-target="{{checkTarget}}"{{/if}} value="{{value}}">
    </div>
    {{#each message}}
    <div class="message {{type}} {{#if show}}show{{/if}}" data-fragment="message">
        <div class="icon"></div>
        <div class="text">
            {{{text}}}
        </div>
    </div>
    {{/each}}
</div>