<div class="textarea">
    <label for="{{name}}">
        <div class="label">{{label}}</div>
        <div class="field">
            <textarea name="{{name}}" class="form-control" rows="{{rows}}">{{text}}</textarea>
            {{#if zeichen}}<div class="text-right smaller color-grey">{{zeichen}} <span class="counter">0</span></div>{{/if}}
        </div>
    </label>
    {{#each message}}
        <div class="message {{type}} {{#if show}}show{{/if}}" data-fragment="message">
            <div class="icon"></div>
            <div class="text">
                {{{text}}}
            </div>
        </div>
    {{/each}}
</div>