<div class="reporter" data-module="form/reporter">

    <form class="form controller" data-module="form" data-controller="fragments/Form" action="#register-1" method="POST" data-inline-validation="true" data-validate-onload="false" data-scrolltop-on-error="true">

        <div class="textblock" data-fragment="textblock">
            <hgroup>
                <h3>{{headline}}</h3>
            </hgroup>
            <div class="content">
                {{{description}}}
            </div>
        </div>

        <div class="form-row border-top">
            <div class="textblock" data-fragment="textblock">
                <div class="content">
                    {{{uploadText}}}
                </div>
            </div>
        </div>

        <div class="form-row border-top">
            <div class="form-group {{#if upload.message.show}}has-{{upload.message.type}}{{/if}}">
                <div class="col-md-12">
                    {{>fragments/form/file upload}}
                </div>
            </div>
        </div>

        <div class="form-row border-top">
            <div class="textblock" data-fragment="textblock">
                <div class="content">
                    {{{adresseText}}}
                </div>
            </div>
        </div>

        <div class="form-row border-top">
            <div class="form-group {{#if strasse.message.show}}has-{{strasse.message.type}}{{/if}}">
                {{>fragments/form/input strasse}}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group {{#if plz.message.show}}has-{{plz.message.type}}{{/if}} {{#if ort.message.show}}has-{{ort.message.type}}{{/if}}">
                <div class="col-md-2">
                    {{>fragments/form/input plz}}
                </div>
                <div class="col-md-10 with-message">
                    {{>fragments/form/input ort}}
                </div>
            </div>
        </div>

        <div class="form-row border-top">
            <div class="textblock" data-fragment="textblock">
                <div class="content">
                    {{{personText}}}
                </div>
            </div>
        </div>

        <div class="form-row border-top">
            <div class="form-group {{#if anrede.message.show}}has-{{anrede.message.type}}{{/if}}">
                {{>fragments/form/radio anrede}}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group {{#if vorname.message.show}}has-{{vorname.message.type}}{{/if}}">
                {{>fragments/form/input vorname}}
            </div>
        </div>

        <div class="form-row">
            <div class="form-group {{#if nachname.message.show}}has-{{nachname.message.type}}{{/if}}">
                {{>fragments/form/input nachname}}
            </div>
        </div>

        <div class="form-row">
            {{#unless email.locked}}
                <div class="form-group {{#if email.message.show}}has-{{email.message.type}}{{/if}}">
                    {{>fragments/form/input email}}
                </div>
            {{else}}
                <p>{{email.label}}</p>
                <p><strong>max@mustermann.de</strong></p>
            {{/unless}}
        </div>

        {{#if captcha}}
        <div class="form-row border-top">
            <div class="form-group {{#if captcha.message.show}}has-{{captcha.message.type}}{{/if}}">
                {{>fragments/form/captcha captcha}}
            </div>
        </div>
        {{/if}}

        {{#if agb}}
        <div class="form-row border-top">
            <div class="form-group {{#if agb.message.show}}has-{{agb.message.type}}{{/if}}">
                {{>fragments/form/checkbox agb}}
            </div>
        </div>
        {{/if}}

        <div class="form-row button-row">
            <div class="form-group">
                <button class="btn form-link left" type="reset" value="reset">Formular zurücksetzen</button>
                <button class="btn btn-blue right" type="submit" value="submit">{{weiter}}</button>
            </div>
        </div>

    </form>

<!--
<div class="content">
    <p>{{Kontaktdaten}}</p>
</div>

<div class="one">

    <div class="row">

        {{! infoBox1}}
        <div class="infoBox1">&#42; {{Pflichtfelder}}</div>

        <form class="form controller" data-fragments="form" data-controller="fragments/Form" data-ajax="../data/ajax/listing_teaser_search.html" data-content-target=".ajaxContent">
            <div class="col col-3">

                <div class="form-row">
                    <div class="form-group">
                        <div class="select">
                            <label for="konstruktion">
                                <div class="label">{{Ihr-Tätigkeitsbereich}}</div>
                                <div class="field controller" data-controller="fragments/form/Select" data-type="select">
                                    <select class="form-control" name="konstruktion">

                                        <option value="">{{Tätigkeitsbereich.default}}</option>

                                        <option value="1">{{Tätigkeitsbereich.d1}}</option>

                                        <option value="2">{{Tätigkeitsbereich.d2}}</option>

                                        <option value="3">{{Tätigkeitsbereich.d3}}</option>

                                        <option value="4">{{Tätigkeitsbereich.d4}}</option>

                                    </select>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="row">
        <div class="form-row">
            <div class="form-group">
                <div class="input">
                    <label class="label" for="E-Mail-Address">{{E-Mail-Adresse}} &#42;</label>
                    <input id="e-mail-address" class="form-control" type="text" value="" placeholder="" name="E-Mail-Address">
                </div>
            </div>
        </div>

        {{! infoBox2}}
        <div class="infoBox2">{{anschluss}}</div>

    </div>
</div>
{{! end-of one}}


{{! start-of two}}
<div class="two">

{{! radio}}
<div class="row">
    <div class="form-row">
        {{>fragments/form/radio anrede}}
    </div>
</div>

{{! vorname}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <label class="label" for="vorname"">{{Vorname}} &#42;</label>
                <input id="vorname" class="form-control" type="text" value="" placeholder="" name="vorname">
            </div>
        </div>
    </div>
</div>

{{! nachname}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <label class="label" for="nachname">{{Nachname}} &#42;</label>
                <input id="nachname" class="form-control" type="text" value="" placeholder="" name="nachname"">
            </div>
        </div>
    </div>
</div>

{{! firma}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <label class="label" for="firma">{{Firma}} &#42;</label>
                <input id="firma" class="form-control" type="text" value="" placeholder="" name="firma">
            </div>
        </div>
    </div>
</div>

{{! kundennummer}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <label class="label" for="kundennummer">{{Kundennummer}}</label>
                <input id="kundennummer" class="form-control" type="text" value="" placeholder="" name="kundennummer"">
            </div>
        </div>
    </div>
</div>

{{! straße, hausenummer}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <label class="label" for="straßeHausenummer">{{straße-Hausenummer}}</label>
                <input id="straßeHausenummer" class="form-control" type="text" value="" placeholder="" name="straßeHausenummer">
            </div>
        </div>
    </div>
</div>

{{! postleitzahl}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <label class="label" for="postleitzahl">{{Postleitzahl}} </label>
                <input id="postleitzahl" class="form-control" type="text" value="" placeholder="" name="postleitzahl">
            </div>
        </div>
    </div>
</div>

{{! ort}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input inputOrt"">
                <label class="label" for="ort">{{ort}}</label>
                <input id="ort" class="form-control" type="text" value="" placeholder="" name="postleitzahl">
            </div>
        </div>
    </div>
</div>

{{! land}}
<form class="form controller" data-fragments="form" data-controller="fragments/Form" data-ajax="../data/ajax/listing_teaser_search.html" data-content-target=".ajaxContent">
    <div class="col col-3">

        <div class="form-row">
            <div class="form-group">
                <div class="select">
                    <label for="konstruktion">
                        <div class="label">{{land}}</div>
                        <div class="field controller" data-controller="fragments/form/Select" data-type="select">
                            <select class="form-control" name="konstruktion">

                                <option value="">{{land-select.default}}</option>

                                <option value="1">{{land-select.d1}}</option>

                                <option value="2">{{land-select.d2}}</option>

                                <option value="3">{{land-select.d3}}</option>

                                <option value="4">{{land-select.d4}}</option>

                            </select>
                        </div>
                    </label>
                </div>
            </div>
        </div>

    </div>
</form>

{{! telefonnummer}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <label class="label" for="telefonnummer">{{Telefonnummer}}</label>
                <input id="ort2" class="form-control" type="text" value="" placeholder="" name="telefonnummer">
            </div>
        </div>
    </div>
</div>



{{! infoBox2}}
<div class="infoBox2">{{Passwort1}}<br>{{Passwort2}}
</div>

<div class="content stellig">
    <p>{{5-stellig}} &#42;</p>
</div>



{{! captcha -code generator}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <input id="captcha" class="form-control" type="text" value="" placeholder="captcha here TODO !!!"">
            </div>
        </div>
    </div>

    <a class="btn link neueGrafik" href="">{{neueGrafik}}</a>
</div>

{{! captcha -user input}}
<div class="row">
    <div class="form-row">
        <div class="form-group">
            <div class="input">
                <input id="captchaUser" class="form-control" type="text" value="" placeholder="" name="captchaUser">
            </div>
        </div>
    </div>
</div>


<div class="content bottom">      {{! add new class and remove css}}
    {{! checkbox}}
    <div class="row">
        <div class="form-row">
            {{>fragments/form/checkbox agb}}
        </div>
    </div>
</div>


<br>




<div class="row formularWeiter">
    <a class="btn link formular" href="">{{formular}}</a>
    <a class="btn btn-black weiter">{{weiter}}</a>
</div>

</div>
{{! end-of two}}

-->
</div>
